#portfolio {
	text-align: center;
	padding-top: 85px;
}



.portfolio-items .col-md-4{ 
	width:33.3%;
}


#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
}

#recent-works{
    padding-bottom: 70px;
}

.recent-work-wrap {
  position: relative;
  overflow: hidden;


}

.recent-work-wrap img{
  width: 100%;
  -webkit-transition: .6s ease;
    transition: .6s ease;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
      transform: scale(1);


}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .recent-work-inner span {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff!important;
  transition:all 0.3s ease;

}

.recent-work-wrap .recent-work-inner span strong{
  font-size: 14px;
  font-family: 'Playball', cursive;
  color: #ec1717;
  display: block;
  text-align: left;
}

.recent-work-wrap .overlay:hover span{
  left:  50px;
  bottom: 50px;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 0;
  background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),#000);
  background: -o-linear-gradient(bottom,rgba(0,0,0,0.1),#000);
  background: -moz-linear-gradient(bottom,rgba(0,0,0,0.1),#000);
  background: linear-gradient(to bottom,rgba(0,0,0,0.1),#000);
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px;
  /* transition: all 0.33s ease-in-out!important; */
  overflow: hidden;
}


.recent-work-wrap:hover img{
  -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
      transform: scale(1.5);
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
   background: linear-gradient(to bottom,rgba(0,0,0,0.4),#000);
}



#portfolio-heading{

}
	
#portfolio-heading h4{
	color: #6c6956;
	margin-bottom: 10px;
}



#portfolio_page {
  margin-top: 155px;
  padding-bottom: 0;

}

.portfolio-items, 
.portfolio-filter {
  list-style: none outside none;
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;

}

.portfolio-filter{
	margin-top: 0px;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0  #454547
  font-size: 14px;
  font-weight: 400;
  margin-right: 3px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid  #454547;
  outline: none;
   border-radius: 0px!important; 
  background:  rgba(255,255,255,.1);

}

.portfolio-filter > li a span{
  display: block;
  font-family: 'Montserrat', sans-serif;
  color:  #919393; 
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  background: rgba(40,43,46,.7);
  border: 1px solid #ec1717;
  box-shadow: none;
  -webkit-box-shadow: none;
  position: relative;
  font-weight: 600;
  color: #ec1717;

}

.portfolio-filter > li a.active span{
  color: #fff;
}
.portfolio-filter > li a.active:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ec1717;
  bottom: -29%;
  left: 41%;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;

}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.portfolio-filter{
	margin-top: 50px;
}

/* .columnWidth{
  width: 33.3%;

} */

.grid-item,
.grid-sizer {
  width: 31.33%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  height: 100px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}

.grid-item--width2 { width: 33%; }
.grid-item--height2 { height: 200px; }
